data/ca.json filter=lfs diff=lfs merge=lfs -text
data/ca-grouped.json filter=lfs diff=lfs merge=lfs -text
data/ca-with-offenses.json filter=lfs diff=lfs merge=lfs -text
data/read.json filter=lfs diff=lfs merge=lfs -text
data/ca/clean.json filter=lfs diff=lfs merge=lfs -text
data/ca/read.json filter=lfs diff=lfs merge=lfs -text
data/ca/scrape-deep.json filter=lfs diff=lfs merge=lfs -text
data/ca/scrape.json filter=lfs diff=lfs merge=lfs -text
data/ca/summarize.json filter=lfs diff=lfs merge=lfs -text
data/ca/old filter=lfs diff=lfs merge=lfs -text
data/ca/scrape-shallow.json filter=lfs diff=lfs merge=lfs -text
data/ca/geocode.json filter=lfs diff=lfs merge=lfs -text
data/fl filter=lfs diff=lfs merge=lfs -text
data/fl/clean.json filter=lfs diff=lfs merge=lfs -text
data/fl/scrape-deep.json filter=lfs diff=lfs merge=lfs -text
data/fl/scrape-shallow.json filter=lfs diff=lfs merge=lfs -text
data/fl/summarize.json filter=lfs diff=lfs merge=lfs -text
data/fl/geocode.json filter=lfs diff=lfs merge=lfs -text
